include pug/libs/_libs

doctype html
html(lang='en')
  include pug/_head
  body
    .section
      .container
        .h1 Первый заголовок
    .section
      .container
        .h2 Второй заголовок
        p
          | Далеко-далеко за словесными горами в стране гласных, и согласных живут рыбные тексты. Журчит, великий? Текстов осталось прямо последний необходимыми буквоград послушавшись языкового бросил агентство дороге переулка, большого возвращайся своих рыбного запятых подзаголовок?
        +image('Image_1')
    .section
      .container
        .h2.attension Второй заголовок
        p
          | Далеко-далеко за словесными горами в стране гласных, и согласных живут рыбные тексты. Журчит, великий? Текстов осталось прямо последний необходимыми буквоград послушавшись языкового бросил агентство дороге переулка, большого возвращайся своих рыбного запятых подзаголовок?
        img(src='../src/img/content/Image_1.jpg' alt='')